.header--OurPets {
  padding: 30px 0 30px;
  background-image: none;

  .header-top {
    margin: 0;
  }

  .header-logo {
    color: $mainTextColor;
  }

  .header-logo__sub {
    color: $btnTextColor;
  }

  .burger {
    &__item {
      background-color: #000;
    }
  }

  .header-list {
    color: $mainTextColor;
  }

  .header-list__item:first-child {
    color: $mainTextColor;
    border-bottom: none;
  }

  .header-list__item:nth-child(2) {
    color: $btnTextColor;
    border-bottom: 3px solid $interactiveElemColor;
  }

  .header-list__item:hover {
    color: $btnTextColor;
    transition: color .5s;
  }
}

.pets--ourPets {
  .paginator {
    height: auto;
    padding: 0;

    &-list {
      margin: 0 auto 15px;
      display: grid;
      grid-template-columns: repeat(4, 270px);
      grid-template-rows: 3;
      gap: 30px 0;
      justify-content: space-around;
      max-width: 100%;
      height: 930px;
    }

    &-card {
      width: 270px;
      height: 435px;
      background-color: #FAFAFA;
      border-radius: 9px;
    }

    .card__img {
      margin-bottom: 30px;
    }

    .card__title {
      margin-top: 0;
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: $mainFontWeight;
      letter-spacing: 1.2px;
    }

    .card__btn {
      margin-bottom: 30px;
      padding: 12px 42px;
      border-radius: 100px;
      border: 2px solid $interactiveElemColor;
      color: $btnTextColor;
      font-size: 17px;
      font-weight: $mainFontWeight;
      line-height: 130%;
      letter-spacing: 1.02px;
    }

    .card__btn:hover {
      border: 2px solid $hoverInteractiveElemColor;
      background-color: $hoverInteractiveElemColor;
      transition: background-color .5s;
    }

    &-navigation {
      display: flex;
      justify-content: center;
    }

    &-btn__superleft,
    &-btn__left,
    &-number,
    &-btn__right,
    &-btn__superright {
      display: inline-flex;
      margin: 0 10px;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 14px;
      height: 14px;
      padding: 23px 23px;
      border: 2px solid $interactiveElemColor;
      border-radius: 50%;
      font-size: 20px;
      font-weight: $mainFontWeight;
      line-height: 115%;
      letter-spacing: 1.2px;
      cursor: pointer;
    }

    &-btn__disable {
      color: #CDCDCD;
      border-color: #CDCDCD;
    }

    &-number {
      background-color: $interactiveElemColor;
      cursor: default;
    }

    &-btn__superleft:hover,
    &-btn__left:hover,
    &-btn__right:hover,
    &-btn__superright:hover {
      border: 2px solid $hoverInteractiveElemColor;
      background-color: $hoverInteractiveElemColor;
      transition: background-color .5s;
    }
  }
}

@media (max-width: 1250px) {
  .pets--ourPets {
    .paginator {
      &-list {
        grid-template-columns: repeat(3, 270px);
        justify-content: space-evenly;
      }
    }
  }
}

@media (max-width: 950px) {
  .pets--ourPets {
    .paginator {
      &-list {
        height: 1398px;
        grid-template-columns: repeat(2, 270px);
        grid-template-rows: repeat(3, 1fr);
        justify-content: space-evenly;
      }
    }
  }
}

@media (max-width: 750px) {
  .header--OurPets {
    .header-list {
      background-color: #fff;
    }
  }
}

@media (max-width: 600px) {
  .pets--ourPets {
    .paginator {
      &-list {
        grid-template-columns: repeat(1, 270px);
        justify-content: space-evenly;
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 400px) {
  .pets--ourPets {
    .paginator {

      &-btn__superleft,
      &-btn__left,
      &-number,
      &-btn__right,
      &-btn__superright {
        margin: 0 5px;
      }
    }
  }
}