.header {
  padding: 30px 0;
  background-image: url('img/header_bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
    height: 60px;
  }

  &-logo {
    font-size: 32px;
    font-weight: $mainFontWeight;
    line-height: 110%;
    letter-spacing: 1.92px;
    color: $interactiveElemColor;
  }

  &-logo__sub {
    display: block;
    font-family: Arial;
    font-size: 13px;
    letter-spacing: 1.3px;
    color: #fff;
  }

  &-list {
    display: flex;
    color: #CDCDCD;
    height: 27px;

    &__item:first-child {
      color: #FAFAFA;
      border-bottom: 3px solid $interactiveElemColor;
    }

    &__item+&__item {
      margin-left: 35px;
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
  }

  .header-content {
    padding-top: 163px;
    max-width: 460px;

    &__title {
      margin: 0 0 42px;
      max-width: 310px;
      font-size: 44px;
      font-weight: $mainFontWeight;
      line-height: 130%;
      color: #fff;
    }

    &__descr {
      margin-bottom: 42px;
      font-size: $mainDescrSize;
      font-weight: $mainFontWeight;
      line-height: 160%;
      color: #CDCDCD;
    }

    &__btn {
      padding: 15px 45px;
      border-radius: 100px;
      background-color: $interactiveElemColor;
      font-size: 17px;
      font-weight: $mainFontWeight;
      line-height: 130%;
      color: $btnTextColor;
    }
  }
}

.about {
  padding: 80px 0 100px;

  &-wrapper {
    display: flex;
    justify-content: center;
  }

  &-img {
    margin-right: 120px;
  }

  .about-content {
    max-width: 430px;

    &__title {
      font-size: $mainTitleSize;
      font-weight: $mainFontWeight;
      line-height: 130%;
      letter-spacing: 2.1px;
    }

    &__descr {
      font-family: Arial;
      font-size: 15px;
      line-height: 160%;
      font-weight: $mainFontWeight;
      color: #4C4C4C;
    }
  }
}

.pets {
  padding: 80px 0 100px;
  background-color: $secondBgColor;

  &-wrapper {
    text-align: center;
  }

  &__title {
    margin: 0 0 60px;
    font-size: $mainTitleSize;
    font-weight: $mainFontWeight;
    line-height: 130%;
    letter-spacing: 2.1px;
  }

  &__subtitle {
    display: block;
  }

  .slider {
    margin: 0 auto 60px;
    padding: 0 50px;
    max-width: 1200px;
    height: 435px;

    &-list {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      max-width: 990px;

    }

    &-list__card {
      height: 435px;
      background-color: #FAFAFA;
    }

    &-card__img {
      margin-bottom: 30px;
    }

    &-card__title {
      margin-top: 0;
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: $mainFontWeight;
      letter-spacing: 1.2px;
    }

    &-card__btn {
      padding: 12px 42px;
      border-radius: 100px;
      border: 2px solid $interactiveElemColor;
      color: $btnTextColor;
      font-size: 17px;
      font-weight: $mainFontWeight;
      line-height: 130%;
      letter-spacing: 1.02px;
    }

    &-arrow {
      position: relative;
      display: inline-flex;
      align-items: center;
      flex-direction: column;
      margin: 10px;
      width: 14px;
      height: 14px;
      padding: 23px 23px;
      border: 2px solid $interactiveElemColor;
      border-radius: 50%;
      top: -250px;
    }

    &-arrow__left {
      left: -50%;
      transform: translateX(25%);
    }

    &-arrow__right {
      left: 50%;
      transform: translateX(-25%);
    }
  }

  &__btn {
    padding: 15px 45px;
    background-color: $interactiveElemColor;
    border-radius: 100px;
    font-size: 17px;
    font-weight: $mainFontWeight;
    line-height: 130%;
    letter-spacing: 1.02px;
  }
}

.help {
  padding: 80px 0 45px;

  &-wrapper {
    text-align: center;
  }

  &__title {
    margin: 0 0 60px;
    font-size: $mainTitleSize;
    font-weight: $mainFontWeight;
    line-height: 130%;
    letter-spacing: 2.1px;
  }

  &__subtitle {
    display: block;
  }

  &-list {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1026px;
  }

  &-item {
    display: inline;
    margin: 0 20px 55px;
    width: 165px;
  }

  &-item__img {
    margin-bottom: 30px;
  }

  &-item__title {
    margin: 0;
    font-size: 20px;
    font-weight: $mainFontWeight;
    line-height: 115%;
    letter-spacing: 1.1px;
  }
}

.donation {
  padding: 80px 0 100px;
  background-color: $secondBgColor;

  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-img {
    margin-right: 30px;
    height: 261px;
  }

  &-content {
    max-width: 380px;
  }

  &__title {
    max-width: 300px;
    font-size: $mainTitleSize;
    font-weight: $mainFontWeight;
    line-height: 130%;
    letter-spacing: 2.1px;
  }

  &__subtitle {
    display: block;
  }

  &__subheading {
    font-size: $mainDescrSize;
    font-weight: $mainFontWeight;
    line-height: 110%;
    letter-spacing: 0.9px;
  }

  &-requisites {
    display: flex;
    padding: 10px 15px;
    max-width: 350px;
    background-color: $interactiveElemColor;
    border-radius: 9px;
  }

  &-requisites__img {
    margin-right: 15px;
  }

  &-requisites__number {
    font-size: 20px;
    font-weight: $mainFontWeight;
    line-height: 115%;
    letter-spacing: 1.2px;
  }

  &__descr {
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: $mainFontWeight;
    line-height: 18px;
    color: #B2B2B2;
  }
}

.footer {
  padding-top: 40px;
  background-image: url('img/footer-bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;

  &-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &-contents {
    display: flex;
  }

  &-content__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
  }

  &-icon__img {
    margin-right: 20px;
    height: 32px;
  }

  &-contacts {
    margin-right: 100px;
  }

  &-content__title {
    margin: 0;
    font-size: $mainTitleSize;
    font-weight: $mainFontWeight;
    line-height: 130%;
    letter-spacing: 2.1px;
    color: #fff;
  }

  &-link {
    display: block;
  }

  &-link__img {}

  &-adress {
    width: 302px;
  }

  // &-adress__title {}


  &-adress__item {
    display: flex;
    align-items: center;
  }

  &-adress__img {
    display: block;

  }

  &-adress__text {
    display: block;
    max-width: 260px;
  }

  &__img {
    display: block;
  }
}