$interactiveElemColor: #F1CDB3;
$hoverInteractiveElemColor: #FDDCC4;
$hoverTextColor: #FAFAFA;

$mainTextColor: #545454;
$btnTextColor: #292929;

$secondBgColor: #F6F6F6;

$mainTitleSize: 35px;
$mainDescrSize: 15px;

$mainFontWeight: 400;